# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.suo
backend/.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# IDE
.idea/
.DS_Store
Thumbs.db
